*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(114, 83, 83);
    padding: 10px;
    position: fixed;
    width: 100%;
    color: white;
}
nav {
    display: flex;
    justify-content: space-around;
}
 nav ul{
    display: flex;
   
 }
  nav ul li{
    margin: 10px;
    list-style: none;
  }
   nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
   }
      nav ul li a:hover{
         text-decoration: underline;
      }
      .hero{
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url('/images/imgeback.jpg');
        background-repeat: no-repeat;
        background-position: center 10%;
        background-size: cover;
        
      }
  
      .hero{ 
         font-size: 2em;
         color: white; 
         font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       }
    
      .action{
        display: flex;
        gap: 15px;
      }
      .btn{
        margin-top: 10px;
        padding: 10px;
        font-size: 25px;
        border-radius: 8px;
        border: none;
       background-color: rgb(80, 118, 63);
       color: white;
      }
      .action :hover{
        background-color: aqua;
      }
      .center{
        text-align: center;
         margin-top: 20px;
         margin-bottom: 20px;
         color: brown;
      }
      .images{
        display: flex;
        justify-content: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        flex-wrap: wrap;
        gap: 20px;
        row-gap: 10px;
      }
      .image-box img{
        width: 300px;
        margin-top: 20px;
        border-radius: 8px;
        background-color: rgb(231, 248, 248);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s;
      }
      .image-box :hover{
        transform: scale(1.05);
      }
.regiser{
  text-align: center;
  margin: 15px;
}

   .same{

  width: 500px;
    border-radius: 5px;
margin: 10px;
   }
   .btn{
    background-color: red;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
   }

footer{
  background-color: brown;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: white;
}

  